<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
    <h2>
    Predict by linear regression
    </h2>
    <form method = "post" action="{% url 'ml' %}" >
        {% csrf_token %}
        <label for = "ip">
            Input value (ip):
        </label>
        <input type = "text" name = "ip" id = "ip" value = "{{current_ip}}">
        <Button type='submit'>Submit</Button>
    </form>
    Predicted value (era/whip): {{era}}, {{whip}}
</body>